*.gcno
*.la
*.lo
*.o
.deps
.gdb_history
.libs
/aclocal.m4
/autom4te.cache
/build
/config.h
/config.h.in
/config.log
/config.status
/configure
/coverage
/coverage.info
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libmilter.pc
/libtool
/log
/milter-client.pc
/milter-core.pc
/milter-manager.pc
/milter-server.pc
/stamp-h1
Makefile
Makefile.in
