[submodule "html/blog/clear-code"]
	path = html/blog/clear-code
	url = https://github.com/clear-code/tdiary.git
[submodule "vendor/cutter-source"]
	path = vendor/cutter-source
	url = https://github.com/clear-code/cutter.git
[submodule "vendor/groonga-source"]
	path = vendor/groonga-source
	url = https://github.com/groonga/groonga.git
