/.gdb_history
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/log
/milter-client.pc
/milter-core.pc
/stamp-h1
