*-enum-types.*
*-marshalers.*
*.gcda
*.gcno
*.la
*.lo
*.o
*~
.deps
.gdb_history
.libs
.test-result
/aclocal.m4
/autom4te.cache
/binding/ruby/**/*.time
/binding/ruby/**/*.log
/binding/ruby/**/*.trs
/binding/ruby/glib-2.2.5/Makefile.lib
/binding/ruby/glib-2.2.5/ext/glib2/glib-enum-types.c
/binding/ruby/glib-2.2.5/ext/glib2/glib-enum-types.h
/binding/ruby/glib-2.2.5/ext/glib2/glib2.so
/binding/ruby/glib-2.2.5/ext/glib2/mkmf.log
/binding/ruby/glib-2.2.5/ext/glib2/ruby-glib2.pc
/binding/ruby/ruby-milter/milter.rb
/binding/ruby/ruby-milter/milter/client.rb
/binding/ruby/ruby-milter/milter/core.rb
/binding/ruby/ruby-milter/milter/server.rb
/binding/ruby/test-unit/
/build
/config
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.lineno
/coverage
/coverage.info
/data/smf/manifest/milter-manager.xml
/data/smf/method/milter-manager
/dist/
/doc/*.jman
/doc/*.man
/doc/*.stamp
/doc/reference/*.bak
/doc/reference/*.stamp
/doc/reference/.xml2po.mo
/doc/reference/available-milters.xml*
/doc/reference/configuration.xml
/doc/reference/configuration.xml.ja
/doc/reference/html/
/doc/reference/install-*
/doc/reference/install-options-to-centos.xml
/doc/reference/install-options-to-centos.xml.ja
/doc/reference/install-options-to-freebsd.xml
/doc/reference/install-options-to-freebsd.xml.ja
/doc/reference/install-options-to-ubuntu.xml
/doc/reference/install-options-to-ubuntu.xml.ja
/doc/reference/install-to-centos.xml
/doc/reference/install-to-centos.xml.ja
/doc/reference/install-to-freebsd.xml
/doc/reference/install-to-freebsd.xml.ja
/doc/reference/install-to-others.xml
/doc/reference/install-to-others.xml.ja
/doc/reference/install-to-ubuntu.xml
/doc/reference/install-to-ubuntu.xml.ja
/doc/reference/install.xml
/doc/reference/install.xml.ja
/doc/reference/introduction.xml
/doc/reference/introduction.xml.ja
/doc/reference/ja
/doc/reference/log-list.xml
/doc/reference/log-list.xml.ja
/doc/reference/main.sgml
/doc/reference/maintenance-policy.xml*
/doc/reference/milter-manager-decl-list.txt
/doc/reference/milter-manager-decl.txt
/doc/reference/milter-manager-log-analyzer-graphs.png
/doc/reference/milter-manager-log-analyzer.xml
/doc/reference/milter-manager-log-analyzer.xml.ja
/doc/reference/milter-manager-undeclared.txt
/doc/reference/milter-manager-undocumented.txt
/doc/reference/milter-manager-unused.txt
/doc/reference/milter-manager.args
/doc/reference/milter-manager.hierarchy
/doc/reference/milter-manager.interfaces
/doc/reference/milter-manager.pot
/doc/reference/milter-manager.prerequisites
/doc/reference/milter-manager.signals
/doc/reference/milter-manager.xml
/doc/reference/milter-manager.xml.ja
/doc/reference/milter-performance-check.xml
/doc/reference/milter-performance-check.xml.ja
/doc/reference/milter-report-statistics.xml*
/doc/reference/milter-test-client.xml
/doc/reference/milter-test-client.xml.ja
/doc/reference/milter-test-server.xml
/doc/reference/milter-test-server.xml.ja
/doc/reference/mta-and-milter-manager-and-child-milter-ja.png
/doc/reference/mta-and-milter-manager-and-child-milter.png
/doc/reference/news.xml
/doc/reference/news.xml.ja
/doc/reference/performance.xml*
/doc/reference/readme.xml
/doc/reference/readme.xml.ja
/doc/reference/reverse-dictionary.xml*
/doc/reference/ruby-milter-*
/doc/reference/sendmail-and-milter-ja.png
/doc/reference/sendmail-and-milter.png
/doc/reference/sendmail-and-postfix-and-milter-ja.png
/doc/reference/sendmail-and-postfix-and-milter.png
/doc/reference/tmp/
/doc/reference/tmpl/
/doc/reference/upgrade-*
/doc/reference/users.xml*
/doc/reference/version.xml
/doc/reference/xml/
/html/blog/clear-code/
/html/blog/data/ja/cache/
/html/blog/data/ja/category/
/html/blog/data/ja/log/
/html/mini-heading-mark.png
/html/mini-upgrade.png
/html/upgrade.png
/html/what-is-milter-manager.png
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libmilter.pc
/libtool
/log
/milter-client.pc
/milter-core.pc
/milter-manager-*.tar.gz
/milter-manager.pc
/milter-server.pc
/milter/core/milter-version.h
/misc
/package/apt/debian/
/package/apt/ubuntu/
/package/rpm/centos/milter-manager.spec
/package/solaris/builds/
/package/solaris/pkgs/
/package/solaris/prototypes/*/pkginfo
/package/solaris/sources/
/package/yum/*.repo
/package/yum/RPM-GPG-KEY-*
/package/yum/centos/
/ruby-milter-client.pc
/ruby-milter-core.pc
/ruby-milter-server.pc
/ruby-milter.pc
/src/milter-manager
/stamp-h1
/tool/milter-test-client
/tool/milter-test-client-libmilter
/tool/milter-test-server
Makefile
Makefile.in
stamp-*-enum-types-*
/libev-4.19/aclocal.m4
/libev-4.19/config.guess
/libev-4.19/config.h.in
/libev-4.19/config.sub
/libev-4.19/configure
/libev-4.19/configure.ac
/libev-4.19/depcomp
/libev-4.19/ev.3
/libev-4.19/install-sh
/libev-4.19/ltmain.sh
/libev-4.19/missing
/libev-4.19/mkinstalldirs
/milter-manager-*/
/package/milter-manager-*.tar.gz
/package/ubuntu/milter-manager*
