services:
  almalinux-8:
    build:
      context: .
      dockerfile: dockerfiles/almalinux-8.dockerfile
    environment:
      TZ: Asia/Tokyo
    cap_add:
      - SYS_PTRACE
    security_opt:
      - "seccomp=unconfined"
    volumes:
      - .:/host:delegated
    command:
      /host/dockerfiles/run-test.sh

  debian-bullseye:
    build:
      context: .
      dockerfile: dockerfiles/debian-bullseye.dockerfile
    environment:
      TZ: Asia/Tokyo
    cap_add:
      - SYS_PTRACE
    security_opt:
      - "seccomp=unconfined"
    volumes:
      - .:/host:delegated
    command:
      /host/dockerfiles/run-test.sh

  debian-bookworm:
    build:
      context: .
      dockerfile: dockerfiles/debian-bookworm.dockerfile
    environment:
      TZ: Asia/Tokyo
    cap_add:
      - SYS_PTRACE
    security_opt:
      - "seccomp=unconfined"
    volumes:
      - .:/host:delegated
    command:
      /host/dockerfiles/run-test.sh

  ubuntu-bionic:
    build:
      context: .
      dockerfile: dockerfiles/ubuntu-bionic.dockerfile
    environment:
      TZ: Asia/Tokyo
    cap_add:
      - SYS_PTRACE
    security_opt:
      - "seccomp=unconfined"
    volumes:
      - .:/host:delegated
    command:
      /host/dockerfiles/run-test.sh

  ubuntu-focal:
    build:
      context: .
      dockerfile: dockerfiles/ubuntu-focal.dockerfile
    environment:
      TZ: Asia/Tokyo
    cap_add:
      - SYS_PTRACE
    security_opt:
      - "seccomp=unconfined"
    volumes:
      - .:/host:delegated
    command:
      /host/dockerfiles/run-test.sh

  ubuntu-jammy:
    build:
      context: .
      dockerfile: dockerfiles/ubuntu-jammy.dockerfile
    environment:
      TZ: Asia/Tokyo
    cap_add:
      - SYS_PTRACE
    security_opt:
      - "seccomp=unconfined"
    volumes:
      - .:/host:delegated
    command:
      /host/dockerfiles/run-test.sh
