version: "3.7"

services:
  # TODO
  almalinux-8:
    build:
      context: .
      dockerfile: dockerfiles/almalinux-8.dockerfile
    environment:
      TZ: Asia/Tokyo
    volumes:
      - .:/host:delegated
    command:
      /host/dockerfiles/run-test.sh

  centos-7:
    build:
      context: .
      dockerfile: dockerfiles/centos-7.dockerfile
    environment:
      TZ: Asia/Tokyo
    volumes:
      - .:/host:delegated
    command:
      /host/dockerfiles/run-test.sh

  debian-bullseye:
    build:
      context: .
      dockerfile: dockerfiles/debian-bullseye.dockerfile
    environment:
      TZ: Asia/Tokyo
    volumes:
      - .:/host:delegated
    command:
      /host/dockerfiles/run-test.sh

  ubuntu-bionic:
    build:
      context: .
      dockerfile: dockerfiles/ubuntu-bionic.dockerfile
    environment:
      TZ: Asia/Tokyo
    volumes:
      - .:/host:delegated
    command:
      /host/dockerfiles/run-test.sh

  ubuntu-focal:
    build:
      context: .
      dockerfile: dockerfiles/ubuntu-focal.dockerfile
    environment:
      TZ: Asia/Tokyo
    volumes:
      - .:/host:delegated
    command:
      /host/dockerfiles/run-test.sh
