Source: milter-manager
Section: mail
Priority: optional
Maintainer: Sutou Kouhei <kou@clear-code.com>
Uploaders: Youhei SASAKI <uwabami@gfd-dennou.org>
Vcs-Git: https://anonscm.debian.org/git/collab-maint/milter-manager.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/milter-manager.git
Build-Depends:
	debhelper (>= 11),
	debhelper-compat (= 11),
	gobject-introspection,
	intltool,
	libev-dev,
	libgirepository1.0-dev,
	libglib2.0-dev,
	meson,
	ninja-build,
	python3,
	rrdtool,
	ruby,
	ruby-dev,
	ruby-gnome-dev | ruby-gnome2-dev,
	ruby-test-unit,
	tzdata
Standards-Version: 4.1.4
Homepage: http://milter-manager.osdn.jp/

Package: milter-manager
Architecture: any
Depends:
	${misc:Depends},
	${shlibs:Depends},
	adduser,
	libmilter-manager2 (= ${binary:Version}),
	lsb-base,
	ruby
Suggests: postfix | sendmail, spamass-milter, clamav-milter, milter-greylist
Description: Milter to use milters effectively
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 milter manager is a milter that provides an effective
 anti-spam and anti-virus solution with milters.
 .
 milter manager provides a platform to use milters
 effectively and flexibly. milter-manager has embedded Ruby
 interpreter that is used for dynamic milter applicable
 condition. milter-manager can provide the platform by
 embedded Ruby interpreter.

Package: milter-manager-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation of milter manager
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides reference manual of milter manager.

Package: libmilter-manager2
Section: libs
Architecture: any
Conflicts:
	libmilter-manager0
Replaces:
	libmilter-manager0,
	milter-manager (<< 1.6.6-1)
Breaks:
	libmilter-manager0,
	milter-manager (<< 1.6.6-1)
Depends:
	${misc:Depends},
	${shlibs:Depends},
	libmilter-client2 (= ${binary:Version}),
	libmilter-server2 (= ${binary:Version}),
	ruby-gio2,
	ruby-milter-client (= ${binary:Version}),
	ruby-milter-core (= ${binary:Version}),
	ruby-milter-server (= ${binary:Version})
Description: Libraries for extending milter manager by C
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides libraries for extending milter manager by C.

Package: gir1.2-miltermanager-2.0
Section: introspection
Architecture: any
Depends:
	${gir:Depends},
	${misc:Depends}
Description: GObject Introspection typelib files for milter manager
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides GObject Introspection typelib files for milter manager.

Package: libmilter-manager-dev
Section: libdevel
Architecture: any
Replaces: milter-manager-dev (<< 1.6.6-1)
Breaks: milter-manager-dev (<< 1.6.6-1)
Depends:
	${misc:Depends},
	${shlibs:Depends},
	gir1.2-miltermanager-2.0 (= ${binary:Version}),
	libmilter-client-dev (= ${binary:Version}),
	libmilter-manager2 (= ${binary:Version}),
	libmilter-server-dev (= ${binary:Version})
Description: Development files to extend milter manager by C
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides development environment to extend milter manager by C.
 Normally, milter manager can be extended by Ruby.

Package: milter-manager-munin-plugins
Section: net
Architecture: any
Depends:
	${misc:Depends},
	${shlibs:Depends},
	milter-manager (= ${binary:Version}),
	munin-node,
	ruby
Description: This package proviede munin-node plugins for milter manager
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides munin-node plugins to monitor milter manager and related
 software. (e.g. Postfix, Sendmail and milters.)

Package: milter-manager-log-analyzer
Section: ruby
Architecture: any
Depends:
	${misc:Depends},
	${shlibs:Depends},
	milter-manager (= ${binary:Version}),
	rrdtool,
	ruby
Description: Analyze milter-manager's log
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides a Ruby script to generate some graphs from
 milter-manager's log.

Package: libmilter-core2
Section: libs
Architecture: any
Replaces: libmilter-toolkit (<< 1.6.6-1)
Breaks: libmilter-toolkit (<< 1.6.6-1)
Depends:
	${misc:Depends},
	${shlibs:Depends}
Description: Common library for implementing milter protocol
 milter "core" library is a common library for mitler "client" and
 milter "server" libraries.

Package: gir1.2-miltercore-2.0
Section: introspection
Architecture: any
Depends:
	${gir:Depends},
	${misc:Depends}
Description: GObject Introspection typelib files for milter core library
 milter "core" library is a common library for mitler "client" and
 milter "server" libraries.
 .
 This provides GObject Introspection typelib files for milter core library.

Package: libmilter-core-dev
Section: libdevel
Architecture: any
Replaces: libmilter-toolkit-dev (<< 1.6.6-1)
Breaks: libmilter-toolkit-dev (<< 1.6.6-1)
Depends:
	${misc:Depends},
	${shlibs:Depends},
	gir1.2-miltercore-2.0 (= ${binary:Version}),
	libmilter-core2 (= ${binary:Version})
Description: Development files for milter core library
 milter "core" library is a common library for mitler "client" and
 milter "server" libraries.
 .
 This provides development environment to build software against
 libmilter-core.

Package: libmilter-client2
Section: libs
Architecture: any
Replaces: libmilter-toolkit (<< 1.6.6-1)
Breaks: libmilter-toolkit (<< 1.6.6-1)
Depends:
	${misc:Depends},
	${shlibs:Depends},
	libmilter-core2 (= ${binary:Version})
Description: Libraries and tools for implementing milter protocol (client-side)
 milter "client" library is a library which implements client-side
 (milter-side) milter protocol.

Package: gir1.2-milterclient-2.0
Section: introspection
Architecture: any
Depends:
	${gir:Depends},
	${misc:Depends}
Description: GObject Introspection typelib files for milter client library
 milter "client" library is a library which implements client-side
 (milter-side) milter protocol.
 .
 This provides GObject Introspection typelib files for milter client library.

Package: libmilter-client-dev
Section: libdevel
Architecture: any
Replaces: libmilter-toolkit-dev (<< 1.6.6-1)
Breaks: libmilter-toolkit-dev (<< 1.6.6-1)
Depends:
	${misc:Depends},
	${shlibs:Depends},
	gir1.2-milterclient-2.0 (= ${binary:Version}),
	libmilter-client2 (= ${binary:Version}),
	milter-test-client
Description: Development files for milter client library
 milter "client" library is a library which implements client-side
 (milter-side) milter protocol.
 .
 This provides development environment to build software against
 libmilter-client.

Package: milter-test-client
Architecture: any
Replaces: libmilter-client0
Breaks: libmilter-client0
Depends:
	${misc:Depends},
	${shlibs:Depends},
	libmilter-client2 (= ${binary:Version})
Description: A milter protocol implementation for testing
 milter-test-client is useful to test a MTA-side milter protocol.

Package: libmilter-server2
Section: libs
Architecture: any
Replaces: libmilter-toolkit (<< 1.6.6-1)
Breaks: libmilter-toolkit (<< 1.6.6-1)
Depends:
	${misc:Depends},
	${shlibs:Depends},
	libmilter-core2 (= ${binary:Version})
Description: Libraries and tools for implementing milter protocol (server-side)
 milter "server" library is a library which implements server-side
 (MTA-side) milter protocol.

Package: gir1.2-milterserver-2.0
Section: introspection
Architecture: any
Depends:
	${gir:Depends},
	${misc:Depends}
Description: GObject Introspection typelib files for milter server library
 milter "server" library is a library which implements server-side
 (MTA-side) milter protocol.
 .
 This provides GObject Introspection typelib files for milter server library.

Package: libmilter-server-dev
Section: libdevel
Architecture: any
Replaces: libmilter-toolkit-dev (<< 1.6.6-1)
Breaks: libmilter-toolkit-dev (<< 1.6.6-1)
Depends:
	${misc:Depends},
	${shlibs:Depends},
	gir1.2-milterserver-2.0 (= ${binary:Version}),
	libmilter-server2 (= ${binary:Version}),
	milter-test-server
Description: Development files for milter toolkit
 milter "server" library is a library which implements server-side
 (MTA-side) milter protocol.
 .
 This provides development environment to build software against
 libmilter-server.

Package: milter-test-server
Architecture: any
Replaces: libmilter-server0
Breaks: libmilter-server0
Depends:
	${misc:Depends},
	${shlibs:Depends},
	libmilter-server2 (= ${binary:Version})
Description: A MTA-side milter protocol implementation for testing
 milter-test-server is useful to test a milter.

Package: libmilter-compatible
Section: libs
Architecture: any
Depends:
	${misc:Depends},
	${shlibs:Depends},
	libmilter-client2 (= ${binary:Version})
Description: Milter library which has ABI compatibility with Sendmail's libmilter
 libmilter-compatible is a milter toolkit based library which has ABI
 compatibility with Sendmail's libmilter. It can be used with a milter
 which is built with Sendmail's libmilter. To use LD_PRELOAD is the
 most easy way to use libmilter-compatible.

Package: libmilter-compatible-dev
Section: libdevel
Architecture: any
Depends:
	${misc:Depends},
	${shlibs:Depends},
	libmilter-compatible (= ${binary:Version})
Description: Milter development files which have API compatibility with Sendmail's libmilter
 This provides API that is compatible with Sendmail's libmilter. Milters can
 be built and run with libmilter-compatible-dev and libmilter-compatible.

Package: ruby-milter-core
Section: ruby
Architecture: any
Replaces: libmilter-core-ruby1.8 (<< 1.8.3-1~)
Breaks: libmilter-core-ruby1.8 (<< 1.8.3-1~)
Depends:
	${misc:Depends},
	${shlibs:Depends},
	libmilter-core2 (= ${binary:Version}),
	ruby-gio2
Description: Ruby bindings for milter core library (Ruby interface)
 milter "core" library is a common library for mitler "client" and
 milter "server" libraries.
 .
 This provides Ruby bindings for libmilter-core.

Package: python3-milter-core
Section: python
Architecture: any
Depends:
	${misc:Depends},
	${shlibs:Depends},
	gir1.2-miltercore-2.0 (= ${binary:Version}),
	python3,
	python3-gi
Description: Python bindings for milter core library (Python interface)
 milter "core" library is a common library for mitler "client" and
 milter "server" libraries.
 .
 This provides Python bindings for libmilter-core.

Package: ruby-milter-client
Section: ruby
Architecture: any
Replaces: libmilter-client-ruby1.8 (<< 1.8.3-1~)
Breaks: libmilter-client-ruby1.8 (<< 1.8.3-1~)
Depends:
	${misc:Depends},
	${shlibs:Depends},
	libmilter-client2 (= ${binary:Version}),
	ruby-milter-core (= ${binary:Version})
Description: Ruby bindings for milter client (Ruby interface)
 milter "client" library is a library which implements client-side
 (milter-side) milter protocol.
 .
 This provides Ruby bindings for libmilter-client.

Package: python3-milter-client
Section: python
Architecture: any
Depends:
	${misc:Depends},
	${shlibs:Depends},
	gir1.2-milterclient-2.0 (= ${binary:Version}),
	python3,
	python3-milter-core (= ${binary:Version})
Description: Python bindings for milter client (Python interface)
 milter "client" library is a library which implements client-side
 (milter-side) milter protocol.
 .
 This provides Python bindings for libmilter-client.

Package: ruby-milter-server
Section: ruby
Architecture: any
Replaces: libmilter-server-ruby1.8 (<< 1.8.3-1~)
Breaks: libmilter-server-ruby1.8 (<< 1.8.3-1~)
Depends:
	${misc:Depends},
	${shlibs:Depends},
	libmilter-server2 (= ${binary:Version}),
	ruby-milter-core (= ${binary:Version})
Description: Ruby bindings for milter server (Ruby interface)
 milter "server" library is a library which implements server-side
 (MTA-side) milter protocol.
 .
 This provides Ruby bindings for libmilter-server.

Package: python3-milter-server
Section: python
Architecture: any
Depends:
	${misc:Depends},
	${shlibs:Depends},
	gir1.2-milterserver-2.0 (= ${binary:Version}),
	python3,
	python3-milter-core (= ${binary:Version})
Description: Python bindings for milter server (Python interface)
 milter "server" library is a library which implements server-side
 (milter-side) milter protocol.
 .
 This provides Python bindings for libmilter-server.
