Source: milter-manager
Section: mail
Priority: optional
Maintainer: Kouhei Sutou <kou@clear-code.com>
Uploaders: Kenji Okimoto <okimoto@clear-code.com>, Youhei SASAKI <uwabami@gfd-dennou.org>
Build-Depends:
	debhelper (>= 9),
	autotools-dev,
	libglib2.0-dev,
    libev-dev,
	ruby (>= 1:1.9.3), ruby-dev (>= 1:1.9.3), ruby-gnome2-dev,
	intltool
Standards-Version: 3.9.5
Homepage: http://milter-manager.sourceforge.net/

Package: milter-manager
Architecture: any
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-manager0 (= ${binary:Version}),
	ruby (>= 1:1.9.3),
	adduser
Suggests: postfix | sendmail, spamass-milter, clamav-milter, milter-greylist
Description: Milter to use milters effectively
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.

Package: milter-manager-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation of milter manager
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides reference manual of milter manager.

Package: libmilter-manager0
Section: libs
Architecture: any
Replaces: milter-manager (<< 1.6.6-1)
Breaks: milter-manager (<< 1.6.6-1)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-client0 (= ${binary:Version}),
	libmilter-server0 (= ${binary:Version}),
	ruby-milter-core (= ${binary:Version}),
	ruby-milter-client (= ${binary:Version}),
	ruby-milter-server (= ${binary:Version})
Description: Libraries for extending milter manager by C
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides libraries for extending milter manager by C.

Package: libmilter-manager-dev
Section: libdevel
Architecture: any
Replaces: milter-manager-dev (<< 1.6.6-1)
Breaks: milter-manager-dev (<< 1.6.6-1)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-manager0 (= ${binary:Version}),
	libmilter-client-dev (= ${binary:Version}),
	libmilter-server-dev (= ${binary:Version})
Description: Development files to extend milter manager by C
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides development environemnt to extend milter manager by C.
 Normally, milter manager can be extended by Ruby.

Package: milter-manager-munin-plugins
Section: net
Architecture: any
Depends:
	${shlibs:Depends},
	${misc:Depends},
	milter-manager (= ${binary:Version}),
	munin-node,
	ruby (>= 1:1.9.3)
Description: This package proviede munin-node plugins for milter manager
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides munin-node plugins to monitor milter manager and related
 software. (e.g. Postfix, Sendmail and milters.)

Package: milter-manager-log-analyzer
Section: ruby
Architecture: any
Depends:
	${shlibs:Depends},
	${misc:Depends},
	milter-manager (= ${binary:Version}),
	rrdtool,
	librrd-ruby1.9.1,
	ruby (>= 1:1.9.3)
Description: Analyze milter-manager's log.
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides a Ruby script to generate some graphs from
 milter-manager's log.

Package: libmilter-core0
Section: libs
Architecture: any
Replaces: libmilter-toolkit (<< 1.6.6-1)
Breaks: libmilter-toolkit (<< 1.6.6-1)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libglib2.0-0
Description: Common library for implementing milter protocol
 milter "core" library is a common library for mitler "client" and
 milter "server" libraries.

Package: libmilter-core-dev
Section: libdevel
Architecture: any
Replaces: libmilter-toolkit-dev (<< 1.6.6-1)
Breaks: libmilter-toolkit-dev (<< 1.6.6-1)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-core0 (= ${binary:Version})
Description: Development files for milter core library
 milter "core" library is a common library for mitler "client" and
 milter "server" libraries.
 .
 This provides development environment to build software against
 libmilter-core.

Package: libmilter-client0
Section: libs
Architecture: any
Replaces: libmilter-toolkit (<< 1.6.6-1)
Breaks: libmilter-toolkit (<< 1.6.6-1)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-core0 (= ${binary:Version})
Description: Libraries and tools for implementing milter protocol
 milter "client" library is a library which implements client-side
 (milter-side) milter protocol.

Package: libmilter-client-dev
Section: libdevel
Architecture: any
Replaces: libmilter-toolkit-dev (<< 1.6.6-1)
Breaks: libmilter-toolkit-dev (<< 1.6.6-1)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-client0 (= ${binary:Version})
Description: Development files for milter client library
 milter "client" library is a library which implements client-side
 (milter-side) milter protocol.
 .
 This provides development environment to build software against
 libmilter-client.

Package: libmilter-server0
Section: libs
Architecture: any
Replaces: libmilter-toolkit (<< 1.6.6-1)
Breaks: libmilter-toolkit (<< 1.6.6-1)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-core0 (= ${binary:Version})
Description: Libraries and tools for implementing milter protocol
 milter "server" library is a library which implements server-side
 (MTA-side) milter protocol.

Package: libmilter-server-dev
Section: libdevel
Architecture: any
Replaces: libmilter-toolkit-dev (<< 1.6.6-1)
Breaks: libmilter-toolkit-dev (<< 1.6.6-1)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-server0 (= ${binary:Version})
Description: Development files for milter toolkit
 milter "server" library is a library which implements server-side
 (MTA-side) milter protocol.
 .
 This provides development environment to build software against
 libmilter-server.

Package: libmilter-compatible
Section: libs
Architecture: any
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-client0 (= ${binary:Version})
Description: Milter library which has ABI compatiblity with Sendmail's libmilter
 libmilter-compatible is a milter toolkit based library which has ABI
 compatiblity with Sendmail's libmilter. It can be used with a milter
 which is built with Sendmail's libmilter. To use LD_PRELOAD is the
 most easy way to use libmilter-compatible.

Package: libmilter-compatible-dev
Section: libdevel
Architecture: any
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-compatible (= ${binary:Version})
Description: Milter development files which have API compatiblity with Sendmail's libmilter
 This provides API that is compatible with Sendmail's libmilter. Milters can
 be built and run with libmilter-compatible-dev and libmilter-compatible.

Package: ruby-milter-core
Section: ruby
Architecture: any
Replaces: libmilter-core-ruby1.8 (<< 1.8.3-1~)
Breaks: libmilter-core-ruby1.8 (<< 1.8.3-1~)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-core0 (= ${binary:Version}),
	ruby (>= 1:1.9.3)
Description: Ruby bindings for milter core library (Ruby interface)
 milter "core" library is a common library for mitler "client" and
 milter "server" libraries.

Package: ruby-milter-client
Section: ruby
Architecture: any
Replaces: libmilter-client-ruby1.8 (<< 1.8.3-1~)
Breaks: libmilter-client-ruby1.8 (<< 1.8.3-1~)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-client0 (= ${binary:Version}),
	ruby-milter-core (= ${binary:Version}),
	ruby (>= 1:1.9.3)
Description: Ruby bindings for milter client (Ruby interface)
 milter "client" library is a library which implements client-side
 (milter-side) milter protocol.
 .
 This provides Ruby bindings for libmilter-client.

Package: ruby-milter-server
Section: ruby
Architecture: any
Replaces: libmilter-server-ruby1.8 (<< 1.8.3-1~)
Breaks: libmilter-server-ruby1.8 (<< 1.8.3-1~)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libmilter-server0 (= ${binary:Version}),
	ruby-milter-core (= ${binary:Version}),
	ruby (>= 1:1.9.3)
Description: Ruby bindings for milter server (Ruby interface)
 milter "server" library is a library which implements server-side
 (MTA-side) milter protocol.
 .
 This provides Ruby bindings for libmilter-server.
