#!/usr/bin/make -f
# -*- makefile-gmake -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --								\
		--with-default-effective-user=milter-manager				\
		--with-default-effective-group=mail					\
		--with-default-socket-group=mail					\
		--with-default-pid-file=/var/run/milter-manager/milter-manager.pid	\
		--with-default-connection-spec=unix:/var/run/milter-manager/milter-manager.sock \
		--with-bundled-ruby-glib2						\
		--enable-ruby-milter=$$(ruby -rrbconfig -e 'print RbConfig::CONFIG["rubylibdir"]')


# disable 'make check'.
override_dh_auto_test:

override_dh_install:
	find $(CURDIR)/debian/tmp/usr/lib/ -name *.la -delete
	dh_install

override_dh_installdocs:
	dh_installdocs --all NEWS NEWS.ja README.ja TODO license/*.txt

