<table>
  <tr>
    <th>Name</th>
    <td><%=h @milter.name %></td>
  </tr>
</table>

<ul class="actions">
  <li><%= link_to("list", config_milters_path) %></li>
  <li><%= link_to("edit", edit_config_milter_path) %></li>
  <li><%= link_to("create", new_config_milter_path) %></li>
</ul>
