Source: milter-manager
Section: universe/mail
Priority: extra
Maintainer: Kouhei Sutou <kou@clear-code.com>, Jun Kobayashi <jkbys@ubuntu.com>
Build-Depends: debhelper (>= 5), autotools-dev, libglib2.0-dev, ruby, ruby1.8-dev, libglib2-ruby1.8, cdbs, intltool
Standards-Version: 3.7.3.0
Homepage: http://milter-manager.sourceforge.net/

Package: milter-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby, libmilter-toolkit-ruby1.8 (= ${binary:Version}), librrd-ruby1.8, adduser
Suggests: postfix | sendmail, spamass-milter, clamav-milter, milter-greylist
Description: A milter to use milters effectively
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.

Package: milter-manager-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, milter-manager (= ${binary:Version}), libmilter-toolkit-dev (= ${binary:Version})
Description: Development files to extend milter manager by C
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides development environemnt to extend milter manager by C.
 Normally, milter manager can be extended by Ruby.

Package: milter-manager-admin
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, milter-manager (= ${binary:Version}), ruby, ruby1.8
Description: A Web based administaration interface for milter manager
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides Web based administration interface for milter manager.
 You need to setup Ruby on Rails environment by yourself.

Package: milter-manager-munin-plugins
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, milter-manager (= ${binary:Version}), munin-node, ruby
Description: munin-node plugins for milter manager
 milter manager administrates milters instead of MTA to reduce milter
 administration cost and combine milters flexibly.
 .
 This provides munin-node plugins to monitor milter manager and related
 softwares. (e.g. Postfix, Sendmail and milters.)

Package: libmilter-toolkit
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0
Description: Libraries and tools for implementing milter protocol
 milter toolkit includes "core", "client" and "server" libraries.
 "core" is a common library for "client" and "server" libraries.
 "client" is a library which implements client-side (milter-slide)
 milter protocol. "server" is a library which implements server-side
 (MTA-side) milter protocol.

Package: libmilter-toolkit-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmilter-toolkit (= ${binary:Version})
Description: Development files for milter toolkit
 milter toolkit includes "core", "client" and "server" libraries.
 "core" is a common library for "client" and "server" libraries.
 "client" is a library which implements client-side (milter-slide)
 milter protocol. "server" is a library which implements server-side
 (MTA-side) milter protocol.
 .
 This provides development environment to build softwares against
 libmilter-toolkit.

Package: libmilter-toolkit-ruby1.8
Section: ruby
Architecture: any
Replaces: milter-manager (<< 1.6.1-1)
Breaks: milter-manager (<< 1.6.1-1)
Depends: ${shlibs:Depends}, ${misc:Depends}, libmilter-toolkit (= ${binary:Version}), ruby, libglib2-ruby1.8
Description: Development files for milter toolkit
 milter toolkit includes "core", "client" and "server" libraries.
 "core" is a common library for "client" and "server" libraries.
 "client" is a library which implements client-side (milter-slide)
 milter protocol. "server" is a library which implements server-side
 (MTA-side) milter protocol.
 .
 This provides Ruby bindings for libmilter-toolkit.

Package: libmilter-compatible
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmilter-toolkit (= ${binary:Version})
Description: A milter library which has ABI compatiblity with Sendmail's libmilter
 libmilter-compatible is a milter toolkit based library which has ABI
 compatiblity with Sendmail's libmilter. It can be used with a milter
 which is built with Sendmail's libmilter. To use LD_PRELOAD is the
 most easy way to use libmilter-compatible.

Package: libmilter-compatible-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmilter-compatible (= ${binary:Version})
Description: Milter developement files which have API compatiblity with Sendmail's libmilter
 This provides API that is compatible with Sendmail's libmilter. Milters can
 be built and run with libmilter-compatible-dev and libmilter-compatible.
