html,
body
{
  margin: 0px;
  padding: 0px;
  color: black;
  background-color: white;
}

a:link
{
  color: #f57900;
}

a:visited
{
  color: #ce5c00;
}

div.header
{
  position: relative;
}

div.header h1
{
  background: url(logo.png) no-repeat;
  font-size: smaller;
  margin-top: 20px;
  margin-left: 50px;
  height: 40px;
}

div.header h1 a
{
  color: black;
}

div.header h1 span
{
  display: block;
  text-indent: 256px;
  margin-bottom: 2px;
}

div.header h1 span.title-separator
{
  display: none;
}

ul.other-languages
{
  position: absolute;
  top: 0px;
  right: 50px;
  padding: 0px;
  margin: 0px;
}

ul.other-languages li
{
  display: block;
  float: left;
  margin-left: 10px;
}

ul.other-languages li a
{
  display: block;
  height: 11px;
  width: 16px;
  text-indent: -100000px;
}

ul.other-languages li#other-language-english
{
  background: url(us.png) no-repeat;
}

ul.other-languages li#other-language-japanese
{
  background: url(jp.png) no-repeat;
}

ul.menu
{
  background: url(bar.png) repeat-x;
  height: 28px;
  padding-top: 12px;
  padding-left: 50px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

ul.menu li
{
  display: inline;
  margin-right: 10px;
}

ul.menu li a
{
  color: #fed08e;
  text-decoration: none;
  font-weight: bold;
  padding-left: 20px;
}

ul.menu li a:hover
{
  text-decoration: underline;
}

ul.menu li#menu-introduction
{
  background: url(introduction.png) no-repeat;
}

ul.menu li#menu-install
{
  background: url(install.png) no-repeat;
}

ul.menu li#menu-download
{
  background: url(download.png) no-repeat;
}

ul.menu li#menu-blog
{
  background: url(blog.png) no-repeat;
}

div.content
{
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

div.main
{
  margin-right: 170px;
}

div.main p
{
  line-height: 150%;
}

div.main h2,
div.day h3
{
  margin-left: -45px;
  text-indent: 45px;
  height: 36px;
  background: url(heading-mark.png) no-repeat ;
}

div.sidebar
{
  clear: both;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 150px;
  text-align: right;
  background-color: white;
}

div.sidebar ul
{
  margin: 0px;
  padding: 0px;
}

div.sidebar ul li
{
  list-style-type: none;
  margin-bottom: 5px;
}

div.sponsors
{
  border-top: solid black 1px;
  position: relative;
  margin-bottom: 1em;
}

div.sponsors p#sponsor-ipa
{
  margin-left: 50px;
  margin-right: 220px;
}

div.sponsors p#sponsor-sf-net
{
  position: absolute;
  top: 0px;
  right: 50px;
}

div.sponsors p#sponsor-tango
{
  position: absolute;
  top: 40px;
  right: 50px;
}

div.sponsors p#sponsor-famfamfam
{
  position: absolute;
  top: 103px;
  right: 50px;
}


/* For GTK-Doc */
@media screen
{
  table.navigation#top
  {
    margin-top: 15px;
    position: relative;
  }

  div.book
  {
    top: 0px;
  }

  div.refentry,
  div.chapter,
  div.reference,
  div.part,
  div.book,
  div.glossary,
  div.sect1,
  div.appendix,
  div.preface
  {
    top: 0px;
  }

  div.footer
  {
    padding-top: 0px;
    padding-bottom: 1em;
  }
}
