/*.la
/*.lo
/.deps
/.libs
/Makefile
/Makefile.in
/milter-client-enum-types.c
/milter-client-enum-types.h
/milter-client-marshalers.c
/milter-client-marshalers.h
/stamp-milter-client-enum-types-c
/stamp-milter-client-enum-types-h
