*.stamp
/.xml2po.mo
/configuration.xml
/configuration.xml.ja
/install-options-to-centos.xml
/install-options-to-centos.xml.ja
/install-options-to-freebsd.xml
/install-options-to-freebsd.xml.ja
/install-options-to-ubuntu.xml
/install-options-to-ubuntu.xml.ja
/install-to-centos.xml
/install-to-centos.xml.ja
/install-to-freebsd.xml
/install-to-freebsd.xml.ja
/install-to-others.xml
/install-to-others.xml.ja
/install-to-ubuntu.xml
/install-to-ubuntu.xml.ja
/install.xml
/install.xml.ja
/introduction.xml
/introduction.xml.ja
/ja
/main.sgml
/milter-manager-admin-ja.png
/milter-manager-admin.png
/milter-manager-decl-list.txt
/milter-manager-decl.txt
/milter-manager-log-analyzer-graphs.png
/milter-manager-log-analyzer.xml
/milter-manager-log-analyzer.xml.ja
/milter-manager-undeclared.txt
/milter-manager-undocumented.txt
/milter-manager-unused.txt
/milter-manager.args
/milter-manager.hierarchy
/milter-manager.interfaces
/milter-manager.prerequisites
/milter-manager.signals
/milter-manager.xml
/milter-manager.xml.ja
/milter-performance-check.xml
/milter-performance-check.xml.ja
/milter-test-client.xml
/milter-test-client.xml.ja
/milter-test-server.xml
/milter-test-server.xml.ja
/mta-and-milter-manager-and-child-milter-ja.png
/mta-and-milter-manager-and-child-milter.png
/news.xml
/news.xml.ja
/readme.xml
/readme.xml.ja
/sendmail-and-milter-ja.png
/sendmail-and-milter.png
/sendmail-and-postfix-and-milter-ja.png
/sendmail-and-postfix-and-milter.png
/version.xml
