@import url(../../../../milter-manager.css);

hr.sep
{
  visibility: hidden;
}

div.footer
{
  margin-top: 15px;
  margin-left: 50px;
}

div.content
{
  margin-top: 10px;
  margin-bottom: 20px;
}

span.date
{
  color: gray;
  font-size: small;
  display: block;
  float: right;
}

div.adminmenu
{
  float: right;
  font-size: 90%;
}

div.day
{
  margin-left: 50px;
  margin-right: 50px;
}

div.day p
{
  line-height: 140%;
}

div.day h3
{
  margin-left: -95px;
}

div.day h4
{
  margin-left: -45px;
}

pre
{
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #aaa;
  padding: 0.5em;
  overflow: auto;
}

div.error,
span.error
{
  color: red;
}

ul.categories,
ul.categories li
{
  display: inline;
  padding: 0;
  margin: 0;
}

img.photo
{
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  border: 1px solid #AAA;
}
