name: Test
on:
  - push
  - pull_request
jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - ubuntu-24.04-arm
        service:
          - almalinux-8
          - almalinux-9
          - almalinux-10
          - debian-bookworm
          - debian-trixie
          - ubuntu-jammy
    runs-on: ${{ matrix.runs-on }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Prepare environment variables
        run: |
          if [ "${{ matrix.runs-on }}" = "ubuntu-latest" ]; then
            echo "CUTTER_MAIN=no" >> "${GITHUB_ENV}"
            echo "PLATFORM=linux/amd64" >> "${GITHUB_ENV}"
          else
            echo "CUTTER_MAIN=yes" >> "${GITHUB_ENV}"
            echo "PLATFORM=linux/arm64" >> "${GITHUB_ENV}"
          fi
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y -V \
            curl \
            gtk-doc-tools \
            intltool \
            lsb-release
          curl \
            --silent \
            --location \
            https://raw.github.com/clear-code/cutter/master/data/travis/setup.sh | sh
      - run: ./autogen.sh
      - run: docker compose build ${{ matrix.service }}
      - name: Cache ccache
        uses: actions/cache@v5
        with:
          path: .cache/ccache
          key: test-${{ matrix.runs-on }}-${{ matrix.service }}-ccache-${{ hashFiles('libmilter/**', 'milter/**', 'src/**', 'tool/**', 'test/**') }}
          restore-keys: test-${{ matrix.runs-on }}-${{ matrix.service }}-ccache-
      - name: Prepare ccache directory
        run: |
          sudo mkdir -p .cache/ccache/
          sudo chmod -R o+rwx .cache/ccache/
      - run: docker compose run --rm ${{ matrix.service }}

  # Temporary. We should integrate this to the above test job.
  meson:
    name: meson
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.runs-on }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y -V \
            ccache \
            libev-dev \
            libgirepository1.0-dev \
            meson
          sudo gem install gio2
      - name: Cache ccache
        uses: actions/cache@v5
        with:
          path: ~/.ccache
          key: test-meson-${{ matrix.runs-on }}-ccache-${{ hashFiles('libmilter/**', 'milter/**', 'src/**', 'tool/**', 'test/**') }}
          restore-keys: test-meson-${{ matrix.runs-on }}-ccache-
      - name: Setup
        run: |
          meson setup \
            --prefix=/tmp/local \
            ../milter-manager.build \
            .
      - name: Build
        run: |
          meson compile -C ../milter-manager.build
      - name: Install
        run: |
          sudo meson install -C ../milter-manager.build
      - name: Test
        # TODO: Remove this
        continue-on-error: true
        run: |
          meson devenv -C ../milter-manager.build \
            meson test \
              --print-errorlogs \
              --verbose

  docs:
    name: Documents
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y -V \
            ccache \
            gi-docgen \
            libev-dev \
            libgirepository1.0-dev \
            meson
          sudo gem install gio2
      - name: Cache ccache
        uses: actions/cache@v5
        with:
          path: ~/.ccache
          key: docs-ccache-${{ hashFiles('libmilter/**', 'milter/**', 'src/**', 'tool/**', 'test/**') }}
          restore-keys: docs-ccache-
      - name: Setup
        run: |
          meson setup \
            --prefix=/tmp/local \
            -Ddoc=true \
            ../milter-manager.build \
            .
      - name: Build
        run: |
          meson compile -C ../milter-manager.build
      - name: Install
        run: |
          sudo meson install -C ../milter-manager.build
